/* google font Roboto slab */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@400;500&family=Roboto+Slab:wght@400;500&display=swap');
/* common style and utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#311130;
    --btn-color:#DD0000;
    --font-color:#fff;
}
body{
    font-family: 'Roboto Slab', serif;
}
.container{
    width: 80%;
    margin: 40px auto;
    margin-bottom: 80px;
}
/* top banner style */
.top-banner{
    display: flex;
    align-items: center;
    height: 40vw;
    background-color: var(--bg-color);
    color: #fff;
    padding: 100px;
    border-radius: 40px;
}
.banner-left #para{
    font-size: 1.2vw;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}
.banner-tittle{
    font-size:6vw;
}
.top-banner .banner-left button{
    background-color: var(--btn-color);
    color: var(--font-color);
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.6s;
}
.top-banner .banner-left button:hover{
    transform: scale(1.2);
}
.fa-solid{
    margin-left: 5px;
}
.top-banner .banner-right img{
    height: 40vw;
    margin-left: 38%;
}
.mb-view{
    display: none;
}
/* top banner animation effect */

.banner-tittle-two{
    font-size: 6vw;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    animation: text 4s steps(11) infinite;
    border-right: 4px solid #fff;
}
@keyframes text {
    0%{
        width: 0ch;
    }
    50%{
        width: 11ch;
    }
}

/* aside and blog section style */

.aside-blog {
    display: flex;
    column-gap: 22px;
}
.aside-section{
    width: 250px;
    height: 250px;
    background-color: var(--bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.aside-section a{
    text-decoration: none;
    background-color: var(--font-color);
    width: 80%;
    font-size: 18px;
    color: var(--bg-color);
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0;
}
.aside-section a:nth-child(1){
    background-color: var(--btn-color);
    color: var(--font-color);
}
.aside-section a:nth-child(1):hover{
    background-color: var(--font-color);
    color: var(--btn-color);
}
/* blog style section */

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    gap: 20px;

}
.blog{
    width: 255px;
    box-shadow: 1px -1px 6px 2px #e1dfdf;
    border-radius: 5px;
    line-height: 25px;
    padding: 30px  20px;
    text-align: center;
}
.blog-img{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}
.blog-img>img{
    width: 80px;
}
.blog-img>span{
    font-weight: 500;
    color: var(--bg-color);
    font-size: 24px;
}
.blog>h3{
    color: var(--bg-color);
}
/* footer style */

footer{
    height: 400px;
    background-color: var(--bg-color);
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap:50px;
    height: 100%;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    color: var(--font-color);
    text-align: center;
}
.footer-top{
    letter-spacing: 2.5px;
}
.footer-top h2{
    font-size: 40px;
}
.footer-bottom .footer-info{
    display: flex;
    column-gap: 40px;
    justify-content: center;
}
/* social media icon */
.social{
    color: rgb(199, 181, 181);
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #47144e;
    margin-right: 30px;
}
/* ----------------
        Responsive 
-------------------*/
/* Tablet view */
@media only  screen and (min-width:768px) and (max-width:1023px) {
    /* .container{
        width: 94%;
    } */
    .banner-tittle,.banner-tittle-two{
        font-size: 4vw;
    }
    .aside-blog{
        flex-direction: column;
    }
    .aside-section{
        flex-direction: row;
        background-color: #fff;
        width: 100%;
        height: 90px;
        column-gap: 15px;
    }
    .aside-section a{
        border: 1px solid gainsboro;
    }
    .blogs{
        grid-template-columns: repeat(2,1fr);
    }
    .blog{
        width:38vw;
    }
    .blog .blog-img{
        width: 38vw;
        justify-content: center;
        margin-left: 25px;
    }

    .blog:nth-child(9){
        display: none;
    }
    footer {
        height: 40vw;
    }
    .footer-bottom .footer-info{
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

/* --------------------
            Mobile view 
----------------------- */

@media only screen and (min-width:605px) and (max-width:767px) {

    .top-banner{
        flex-direction: column;
        height: 90vh;
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .banner-left{
        text-align: center;
        height: 50%;
        width: 70%;
        margin-top: 7.5vw;
    
    }
    .mb-view{
        display: block;
    }
    .banner-left #para{
        font-size: 2.5vw;
        line-height: 22px;
        margin-top: 15px;
    }
    .banner-tittle,.banner-tittle-two{
        display: none;
    }
    .banner-right{
        height: 50%;
        width: 70%;
        overflow: hidden;
        margin-right: 10%;
        margin-top: 5vw;
    }
    .banner-tittle,.banner-tittle-two{
        font-size: 4vw;
    }
    .aside-blog{
        flex-direction: column;
        row-gap: 100px;
    }
    .aside-section{
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 90px;
        column-gap: 15px;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        width: 70vw;
        margin-left:30px ;
    }
    .blog .blog-img{
        width:80vw;
        justify-content: center;
        column-gap: 30px;
    }
    .blog .blog-img img{
        margin-bottom: 20px;
    }
    footer {
        height: 70vw;
    }
    .footer-bottom .footer-info{
        flex-direction: column;
        row-gap: 15px;
    }
}
/* small divice */
@media only screen and (max-width:604px) {

    .top-banner{
        flex-direction: column;
        height: 550px;
        padding: 0;
        width: 400px;
        margin: 0 auto;
    }

    .banner-left{
        text-align: center;
        height:  275px;
        width: 250px;
        margin-top: 7.5vw;
    
    }
    .mb-view{
        display: block;
    }
    .banner-left #para{
        font-size: 2.5vw;
        line-height: 22px;
        margin-top: 15px;
    }
    .banner-tittle,.banner-tittle-two{
        display: none;
    }
    .banner-right{
        height: 275px;
        width: 100%;
        overflow: hidden;
        margin-right: 10%;
        margin-top: 80px;
    }
    .banner-tittle,.banner-tittle-two{
        font-size: 4vw;
    }
    .aside-blog{
        flex-direction: column;
        row-gap: 100px;
    }
    .aside-section{
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 90px;
        column-gap: 15px;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        width: 70vw;
        margin-left:30px ;
    }
    .blog .blog-img{
        width:80vw;
        justify-content: center;
        column-gap: 30px;
    }
    .blog .blog-img img{
        margin-bottom: 20px;
    }
    footer {
        height: 110vw;
    }
    .footer-bottom .footer-info{
        flex-direction: column;
        row-gap: 15px;
    }
}